#top{
    nav {
        display: flex;
        flex-flow: column;
        #pt_top_menu{
            height: 5rem;
            li{
                list-style: none;
                &.dropdown {
                    a{
                        align-items: center;
                        display: flex;
                       
                        &:after{
                            display: none;
                        }
                        img{
                            order: 2;
                            width: 3rem !important;
                            height: 3rem !important;
                        }
                        span{
                            margin-right: 0.8rem;
                            height: fit-content;
                        }
                        
                    }
                }
            }
        }
        #top_menu_container{
            #top_menu{
                .nav-item{
                    a{
                        position: relative;
                        overflow: hidden;
                        span:first-of-type{
                            opacity: 1;
                            transition-duration: 200ms;
                        }
                        .pt_icon{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, 80%);
                            transition-duration: 200ms;
                            mix-blend-mode: multiply;
                            .pt_icon_image{
                                mix-blend-mode: multiply;
                            }
                        }
                    }
                    &:hover{
                        span:first-of-type{
                            opacity: 0;
                            transition-duration: 200ms;
                        }
                        .pt_icon{
                            transform: translate(-50%, -50%);
                            transition-duration: 200ms;
                        }
                    }
                }
            }
        }
        #pt_searchbar{
            width: 25rem;
            form{
                width: 100%;
                input{
                    border-radius: 20px 0 0 20px;
                    border: 1px solid black;
                }
                .input-group-append{
                    button{
                        border-radius: 0 20px 20px 0;
                        border-top: 1px solid black;
                        border-right: 1px solid black;
                        border-bottom: 1px solid black;
                        border-left: 0px;
                    }
                }
            }
        }
        a{
            &.active{
                font-weight: 800;
            }
        }
    }
}

// coloring 
#top{
    nav{
        background-color: #FEF9C7;
        a{
            color: #000000;
        }
        #pt_searchbar{
            form{
                input{
                    background-color: #FEF9C7;
                    &:placeholder{
                        color: #B1A3A0;
                    }
                    &:active,&:hover{
                        color: #B1A3A0;
                    }
                    &:focus{
                       box-shadow: none;
                       z-index: 1;
                    }
                }
                .input-group-append{
                    button{
                        background-color: #FEF9C7;
                        color:#000000;
                        &:active,&:hover{
                            color: #B1A3A0;
                        }
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}